body {
  padding: 0;
  margin: 0;
  text-align: center;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0);
  font-family: "Advent Pro", sans-serif;
  color: rgb(166, 170, 189);
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80");
  background-size: cover;
  font-weight: 300;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 150px;
  line-height: 200px;
  font-weight: 400;
}

p {
  margin: 0;
  font-size: 50px;
}

.form {
  line-height: 1.5;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0);
  border: none;
  border-bottom: 3px solid #ebebeb;
  margin-top: 100px;
  width: 700px;
  font-size: 2.9em;
  font-weight: 100;
  color: white;
  padding: 5px 10px;
  background: transparent;
}

button {
  line-height: 2;
  border: none;
  border: 3px solid white;
  font-size: 1.9em;
  color: rgb(66, 69, 86);
  padding: 5px 30px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  opacity: 0.8;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}
input[type="text"]:focus {
  outline: none;
}

button:hover {
  opacity: 1;
}
