<link
  href="https://fonts.googleapis.com/css?family=Advent+Pro:100,300,400&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/app.css" />

<div class="flex-container">
  <div class="container">
    <h1>TUTOR TECH ONLINE</h1>

    <p class="lead">
      Enter your email to join <strong><%=data%></strong> other students on our
      waitlist. We will let you know when the ultimate learning experience
      starts!
    </p>

    <form method="POST" action="/register">
      <input
        type="email"
        name="email"
        class="form"
        required="required"
        placeholder="Insert your email here..."
      />
      <button>Join Now</button>
    </form>
  </div>
</div>
